<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Hair is a Bird Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container-fluid">
      @RenderBody()
    </div>
  </body>
</html>
